#toc{
  position: fixed;
  right: 0px;
  width: 180px;
  z-index: 99999;
  font-size: 10px;
  height:100%;
  padding-left:20px;
  padding-top:20px;
  background: -webkit-linear-gradient(#F7F7F7, #F1F1F1 80%);
  background: -moz-linear-gradient(#F7F7F7, #F1F1F1 80%);
  background: -o-linear-gradient(#F7F7F7, #F1F1F1 80%);
  background: -ms-linear-gradient(#F7F7F7, #F1F1F1 80%);
  background: linear-gradient(#F7F7F7, #F1F1F1 80%);
}
#tocItems{
  line-height:20px;
}
.tocItem{
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 160px;
  display: block;
  overflow: hidden;
  cursor:pointer;
}

.toch1{
  margin-left:0px;
}
.toch2{
  margin-left:10px;
  width:130px;
}
.toch3{
  margin-left:20px;
  width:120px;
}
