#toc{
  position: fixed;
  right: 0px;
  z-index: 1;
  font-size: 10px;
  height:100%;
  padding-left:20px;
  padding-top:20px;
  background: -webkit-linear-gradient(#F7F7F7, #F1F1F1 80%);
  background: -moz-linear-gradient(#F7F7F7, #F1F1F1 80%);
  background: -o-linear-gradient(#F7F7F7, #F1F1F1 80%);
  background: -ms-linear-gradient(#F7F7F7, #F1F1F1 80%);
  background: linear-gradient(#F7F7F7, #F1F1F1 80%);
  overflow-y:scroll;
}
#tocItems{
  line-height:20px;
}
.tocItem{
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 160px;
  display: block;
  overflow: hidden;
  cursor:pointer;
}

.toch1{
  margin-left:0px;
  font-size:20px;
}
.toch2{
  margin-left:10px;
  width:150px;
  font-size:16px;
}
.toch3{
  margin-left:20px;
  width:150px;
  font-size:14px;
}
.toch4{
  margin-left:30px;
  width:110px;
  font-size:14px;
}
.toch5{
  margin-left:30px;
  width:110px;
  font-size:14px;
}
.toch6{
  margin-left:30px;
  width:110px;
  font-size:14px;
}


/* Add styling to the first item in a list */

#tocItems{counter-reset: first}
.toch1 { counter-reset: second; }
.toch2 { counter-reset: third; }
.toch3 { counter-reset: fourth; }
.toch4 { counter-reset: fifth; }
.toch5 { counter-reset: sixth; }
.toch6 { counter-reset: seventh; }


/* The behavior for incrementing and the prefix */
.toch1:before {
  content: counter(first) ". " ;
  counter-increment: first;
}

.toch2:before {
  content: counter(first) "." counter(second) ". ";
  counter-increment: second;
}

.toch3:before {
  content: counter(first) "." counter(second) "." counter(third) ". ";
  counter-increment: third 1;
}

.toch4:before {
  content: counter(first) "." counter(second) "." counter(third) "." counter(fourth) ". ";
  counter-increment: fourth 1;
}

.toch5:before {
  content: counter(first) "." counter(second) "." counter(third) "." counter(fourth) "." counter(fifth) ". ";
  counter-increment: fifth 1;
}

.toch6:before {
  content: counter(first) "." counter(second) "." counter(third) "." counter(fourth) "." counter(fifth) "." counter(sixth) ". ";
  counter-increment: sixth 1;
}

