<li data-key="ep_table_of_contents-toggle" data-type="button" onClick="toggleToc();">
    <a id="ep_table_of_contents-a"
       class="buttonicon buttonicon-insertunorderedlist"
       role="button" tabindex="0"
       data-l10n-id="ep_table_of_contents.toc.title"></a>
</li>
<li class="separator"></li>
<script type="text/javascript">
function toggleToc() {
    $("#options-toc").click();
}
</script>
