<li data-key="ep_table_of_contents-toggle" data-type="button" onClick="toggleToc();">
    <a id="ep_table_of_contents-a" data-l10n-id="ep_table_of_contents.toc.title">
        <button class="buttonicon buttonicon-insertunorderedlist" data-l10n-id="ep_table_of_contents.toc.title"></button>
    </a>
</li>
<li class="separator"></li>
<script type="text/javascript">
function toggleToc() {
    $("#options-toc").click();
}
</script>
